.catalog__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: @basic-black;
}

.catalog__list {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 324px 324px;
    gap: 140px 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 144px 80px;
  }
}

.catalog-link {
  text-decoration: none;
}

.catalog-item-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-dark-greytwo;
}

.catalog-item-table {
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-grey;
}

.plus-title {
  color: @special-black;
}

.plus-text {
  font-size: 12px;
  line-height: 16px;
}

.plus-button {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @special-dark-grey;
  background-color: @basic-grey;
}
