.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    padding: 64px 71px 45px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    padding: 66px 83px 47px 76px;
    top: 93px;
    left: 110px;
    z-index: 3;
  }
}

.catalog-contact {
  background-color: @basic-grey;

  @media (min-width: @desktop-width) {
    background-color: @basic-white;
  }
}

.contacts__heading {
  margin: 0;
  width: 140px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @special-black;

  @media (min-width: @tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__text {
  margin: 0;
  width: 140px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 159px;
    font-size: 16px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    text-align: start;
  }
}

.city {
  @media (min-width: @tablet-width) {
    line-height: 50px;
  }
}

.contacts__breake {
  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-top: 15px;
  }
}
