.contacts {
  background-color: @basic-grey;
}

.contacts__heading {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @special-black;
}

.contacts__text {
  line-height: 20px;
}
