.copyright {
  padding-top: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 0;
    min-width: 163px;
  }
}

.copyright__button {
  font-size: 16px;
  line-height: normal;
  text-decoration: none;
  color: @special-dark-grey;
}

.button-text {
  padding: 6px 0 0 0;

  @media (min-width: @tablet-width) {
    padding: 9px 0;
  }
}

.button-icon:hover path {
  fill: @basic-green;
}

.button-text:hover + .button-icon path {
  fill: @basic-green;
}

.button-icon:active path {
  fill: @active-green;
}

.button-text:active {
  color: @active-dark-grey;
}

.button-text:active + .button-icon path {
  fill: @active-green;
}
