.extra__title {
  position: relative;
  width: 226px;
  margin: 25px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: @basic-black;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 250px;
    width: 1000px;
    border: 1px solid @basic-green;
    box-sizing: border-box;
  }

  @media (min-width: @tablet-width) {
    width: 338px;
    margin: 66px 0 0 36px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 22px;
      left: 375px;
      width: 2000px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: -66px;
      width: 28px;
      border: 1px solid @basic-green;
      box-sizing: border-box;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 73px 0 0 0;

    &::before {
      width: 955px;
    }

    &::after {
      left: -110px;
      width: 68px;
    }
  }
}

.extra__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.extra__list {
  margin-top: 36px;

  @media (min-width: @tablet-width) {
    margin-top: 80px;
    border: 1px solid @special-border-grey;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 896px;
    margin-top: 80px;
    margin-bottom: 86px;
    border: none;
  }
}

.extra-list-item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-top: 1px solid @special-border-grey;

  &:last-child {
    border-bottom: 1px solid @special-border-grey;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 26px 38px 26px;

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      border-top: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;

    &:last-child {
      border-bottom: 1px solid @special-border-grey;
    }

    &:first-child {
      border-top: 1px solid @special-border-grey;
    }
  }
}

.extra-link {
  text-decoration: none;
}

.extra-item-title {
  width: 130px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-dark-greytwo;

  @media (min-width: @tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 25px 0;
  }
}

.extra-item-quantity {
  display: inline-block;
  margin-top: 10px;
  margin-right: 90px;
  width: 126px;

  @media (min-width: @tablet-width) {
    margin-top: 3px;
    margin-left: 244px;
    margin-right: 0;
    width: 132px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    margin: 29px 0 22px 163px;
    text-align: start;
  }
}

.extra-item-price {
  display: inline-block;
  margin-top: 10px;
  width: 60px;
  text-align: right;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 29px 0 22px 112px;
    text-align: start;
  }
}

.extra-item-button {
  width: 280px;
  height: 40px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: @basic-green-two;
  }

  &:active {
    color: @active-white;
  }

  @media (min-width: @tablet-width) {
    height: 38px;
    width: 633px;
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    margin: 16px 0 17px auto;
    width: 244px;
  }
}

.extra__gift {
  position: relative;
  margin: 35px 0;
  padding-top: 186px;
  padding-bottom: 43px;
  background: url("../img/gift-background.png") no-repeat;

  @media (min-resolution: 2dppx) {
    background: url("../img/gift-background@2x.png") no-repeat;
  }

  @media (min-width: @tablet-width) {
    margin-top: 72px;
    margin-bottom: 76px;
    padding-top: 71px;
    padding-bottom: 69px;
    width: 708px;
    background: url("../img/gift-photo-tablet.jpg") no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/gift-photo-tablet@2x.jpg") no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 80px 0 86px 79px;
    padding: 185px 0 42px;
    width: 245px;
    background: url("../img/gift-photo-desktop.jpg") no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/gift-photo-desktop@2x.jpg") no-repeat;
    }
  }
}

.gift-text {
  width: 161px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;

  &::before {
    content: "";
    position: absolute;
    top: 58px;
    left: 101px;
    width: 78px;
    height: 80px;
    background: url("../img/icon_gift.svg");
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 0 423px;
    text-align: start;

    &::before {
      left: 80px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    text-align: center;

    &::before {
      top: 55px;
      left: 85px;
    }
  }
}
