.features__heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @basic-black;
}

.features__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
