.features {
  padding-top: 27px;
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding-top: 47px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
  }
}

.features__heading {
  margin: 0 0 38px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin: 0 0 72px;
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 1fr;
    gap: 24px 58px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 0 79px;
  }
}

.features__item {
  min-height: 60px;
  margin: 0 0 10px;
  padding: 4px 0;

  &:last-child {
    margin: 0;
    padding: 7px 0 0 0;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 0 104px;

    &:first-child {
      background: url("../../img/one.png") no-repeat 50% 0;
    }

    &:nth-child(2) {
      background: url("../../img/two.png") no-repeat 60% 0;
    }

    &:nth-child(3) {
      background: url("../../img/three.png") no-repeat 60% 0;
    }

    &:last-child {
      padding: 0 0 104px;
      background: url("../../img/four.png") no-repeat 60% 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 50px;

    &:first-child {
      background: url("../../img/one.png") no-repeat 75% 0;
    }

    &:nth-child(2) {
      background: url("../../img/two.png") no-repeat 95% 0;
    }

    &:nth-child(3) {
      background: url("../../img/three.png") no-repeat 95% 0;
    }

    &:last-child {
      padding: 0 0 60px;
      background: url("../../img/four.png") no-repeat 100% 0;
    }
  }
}

.features__text {
  position: relative;
  width: 198px;
  margin: 0 0 0 80px;

  @media (min-width: @tablet-width) {
    width: 245px;
    margin-top: 115px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.tablet-brake {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.features__icon-one {
  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -80px;
    width: 60px;
    height: 60px;
    background: url("../img/healthy_icon.png");
  }

  @media (min-width: @tablet-width) {
    &::before {
      top: -111px;
      left: 0;
      width: 80px;
      height: 80px;
      background-position: 50% 50%;
    }
  }
}

.features__icon-two {
  &::before {
    content: "";
    position: absolute;
    left: -80px;
    width: 60px;
    height: 60px;
    background: url("../img/fast_icon.png");
  }

  @media (min-width: @tablet-width) {
    &::before {
      top: -111px;
      left: 0;
      width: 80px;
      height: 80px;
      background-position: 50% 50%;
    }
  }
}

.features__icon-three {
  &::before {
    content: "";
    position: absolute;
    left: -80px;
    width: 60px;
    height: 60px;
    background: url("../img/periodically_icon.png");
  }

  @media (min-width: @tablet-width) {
    &::before {
      top: -111px;
      left: 0;
      width: 80px;
      height: 80px;
      background-position: 50% 50%;
    }
  }
}

.features__icon-four {
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -80px;
    width: 60px;
    height: 60px;
    background: url("../img/result_icon.png");
  }

  @media (min-width: @tablet-width) {
    &::before {
      top: -111px;
      left: 0;
      width: 80px;
      height: 80px;
      background-position: 50% 50%;
    }
  }
}
