.main-navigation {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-navigation__wrapper {
  display: flex;
  flex-direction: row;
}

.main-navigation__logo {
  height: 66px;

  @media (min-width: @tablet-width) {
    height: 90px;
  }

  @media (min-width: @desktop-width) {
    height: 120px;
  }
}

.main-navigation__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.main-navigation__item {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.list__link {
  color: @basic-black;
  text-decoration: none;
}
