.presentation {
  display: flex;
  flex-direction: column;
  background: url("../../img/presentation-background.png") no-repeat;
}

.presentation__heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: @basic-white;
  order: 1;
}

.presentation__slogan {
  color: @basic-white;
  order: 2;
}

.presentation__image {
  order: 3;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    order: 4;
  }
}

.presentation__button {
  order: 4;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    order: 3;
  }
}

.presentation__list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  order: 5;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.presentation__item {
  background-color: @basic-grey;
}

.presentation__item__heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic-black;
}

.presentation__link {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic-black;
}
