.social {
  margin-top: 27px;
  padding-top: 20px;
  padding-bottom: 17px;
  border-top: 1px solid @special-line-grey;
  border-bottom: 1px solid @special-line-grey;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.social__list {
  display: flex;
  width: 130px;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 150px;
  }
}

.social__item {
  @media (min-width: @tablet-width) {
    margin-left: 22px;
  }
}

.social__icon-vkontakte {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__icon-instagram {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__icon-facebook {
  @media (min-width: @tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.social__icon-vkontakte,
.social__icon-instagram,
.social__icon-facebook {
  color: @special-grey2;

  &:hover {
    color: @basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
