// Colors

@basic-white: #FFFFFF;
@basic-green: #68B738;
@basic-green-two: #5EAA2F;
@basic-grey: #F2F2F2;
@basic-black: #000000;
@special-dark-grey: #444444;
@special-dark-greytwo: #222222;
@special-black: #111111;
@special-grey: #EAEAEA;
@line-grey: #E6E6E6;
@special-line-grey: #D9D9D9;
@special-border-grey: #CDCDCD;
@hover-black: rgba(0, 0, 0, 0.6);
@active-black: rgba(0, 0, 0, 0.3);
@hover-white: rgba(255, 255, 255, 0.6);
@active-white: rgba(255, 255, 255, 0.3);

// Viewports

@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;
